<div *ngIf="seznam">

    <div style="border-bottom:1px solid black; width:50%">
        <span>
            <h2>
                postaja: {{seznam.postaja.ime}},
                 {{seznam.postaja.lokacija}} 
            </h2>
            <p>
                <b>
                    obratovanje: {{ seznam.postaja.obratovalni_cas }}
                    <br>
                    cena: €{{ seznam.postaja.cena_polnjenja }}/KWH
                </b>
                
            </p>
       </span>
    </div>
    
   <br>
   <span >
       <h3>termin</h3>
    {{ seznam.dan | datum }} {{seznam.od_ura | date}}-{{seznam.do_ura | date}} 
    </span>

    <br>

    <span style="float:left" *ngIf="seznam.uporabnik == null">
        <button (click)="prijava()">PRIJAVA</button>

    </span>

    <button (click)="nazaj()">Nazaj</button>
</div>
