<h2>Termini</h2>

<ul class="seznami">
    <li *ngFor="let seznam of seznami" (click)="naPodrobnosti(seznam)">
        
        <span style="float:left">
            <!-- postaja: {{seznam.postaja.ime}} | -->
             lokacija: {{seznam.postaja.lokacija}} |
             {{ seznam.dan | datum }} {{seznam.od_ura | date}}-{{seznam.do_ura | date}} 
        </span>
        <span style="float:right">
            <span style="float:left" *ngIf="seznam.uporabnik == null; else loading">
                PROSTO
            </span>
            <ng-template #loading>
                <span style="float:left">
                    ZASEDENO
                </span>
            </ng-template>
    
            
            <button style="float:right; margin-left:25px" class="delete"
                    (click)="delete(seznam); $event.stopPropagation()">x
            </button>

        </span>
        
    </li>
</ul>

<div>
    <h4>dodaj seznam</h4>
    <div>
        <form (ngSubmit)="submitForm()" ngNativeValidate>
            <label for="opis">Postaja: </label>
            <input [(ngModel)]="postaja_id" type="number" min="1" max="{{postaje.length}}" id="opis" name="opis" />
            <span> {{ postaje.length == 0 ? "null" : postaje[postaja_id-1].ime }}</span>
            <br>
            
                <label for="opis">Datum: </label>
                <input matInput [(ngModel)]="termin_dan" type="date" name="dan" placeholder="datum">
            <br />

                <label for="opis">Od: </label>
                <input matInput [(ngModel)]="termin_od" type="time" name="od" placeholder="do">
            <br />

                <label for="opis">Do: </label>
                <input matInput [(ngModel)]="termin_do" type="time" name="do" placeholder="do">
            <br />


            <button type="submit">Dodaj</button>
        </form>
    </div>
</div>

